*::selection {
	background: rgba(37, 199, 125, 0.2);
}

*::-moz-selection {
	background: rgba(37, 199, 125, 0.2);
}

*::-webkit-selection {
	background: rgba(37, 199, 125, 0.2);
}

@font-face 
{
	font-family: 'OpenSans-Light';
	src: url('../fonts/Open-Sans/OpenSans-Light.ttf');
}
@font-face 
{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
}

h1
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-size: 50px;
	font-weight: normal;
	color: rgba(30, 30, 30, 1);
}

h2
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	font-weight: normal;
	color: rgba(30, 30, 30, 1);
}

h3
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-size: 30px;
	font-weight: normal;
	color: rgba(30, 30, 30, 1);
}

h4
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-size: 15px;
	font-weight: normal;
	color: rgba(30, 30, 30, 1);
}

p
{
	margin: 0;
	font-family: 'OpenSans-Light';
	font-size: 18px;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
}

ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li
{
	display: inline-block;
	vertical-align: middle;
}

.a
{
	color: rgba(30, 30, 30, 0.9);
	text-decoration: underline;
	cursor: pointer;
}
.a p
{
	font-size: 14px;
	color: rgba(30, 30, 30, 0.9);
}

html
{
	height: 100%;
	width: 100%;
}

body
{
	margin: 0;
	background-color: rgb(245, 245, 245);
	/*background-image: url('../img/background.png');*/
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}

header
{
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
	z-index: 5;
	height: 80px;
	width: 100%;
	box-sizing: border-box;

	display: none;
}

header nav
{
	height: 100%;
}

header nav ul
{
	height: 100%;
}

header nav ul#left-container
{
	float: left;
}
header nav ul#right-container
{
	float: right;
}
#right-container #username
{
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 60px;
}
#right-container .mini-avatar
{
	display: inline-block;
	vertical-align: middle;
}

header nav ul li
{
	height: 100%;
}

#logo
{
	width: 144px;
	/*background-image: url('../img/logo.png');*/
	background-position: center center; 
	background-repeat: no-repeat;
	cursor: pointer;
}

section
{
	width: 100%;
	height: 100%;
	text-align: center;
}

#accounts-container
{
	width: 100%;
	height: 136px;
	position: relative;
}

.account
{
	height: 136px;
	width: 100%;
	bottom: -136px;
	position: absolute;
	z-index: -1;

	opacity: 0;
}

.mini-avatar
{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	overflow: hidden;
	background-color: rgba(37, 199, 125, 1);
	border: 3px solid rgba(37, 199, 125, 1);
	margin: auto;
}
.mini-avatar img
{
	width: 50px;
	height: 50px;
}

.account .avatar
{
	width: 130px;
	height: 130px;
	border-radius: 100px;
	overflow: hidden;
	background-color: rgba(37, 199, 125, 1);
	border: 3px solid rgba(37, 199, 125, 1);
	margin: auto;
}
.account .avatar img
{
	width: 130px;
	height: 130px;
}

#text-container
{
	text-align: center;
	padding-bottom: 20px;
	background-color: rgba(245, 245, 245, 1);
	margin-top: -100px;
}

#info-container
{
	width: 270px;
	margin: auto;
}

#error-container
{
	background-color: rgb(221, 121, 111);
	border-radius: 15px 15px 15px 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;

	display: none;
}
#error-container p
{
	font-size: 0.9em;
}

#message-container
{
	background-color: rgba(37, 199, 125, 1);
	border-radius: 15px 15px 15px 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;

	display: none;
}
#message-container p
{
	font-size: 0.9em;
}

#options-container
{
	text-align: center;
}
#options-container .button
{
	
}

#link-container
{
	margin-top: 10px;
}

footer
{
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background: rgba(245, 245, 245, 0.7);
}

.info-form-input
{
	position: absolute;
	top: 6px;
	left: 280px;
	height: 40px;
	width: 150%;
	background-color: rgb(221, 121, 111);
	border-radius: 15px 15px 15px 15px;
	z-index: 2;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	line-height: 40px;

	display: none;
}
.info-form-input p
{
	font-size: 0.9em;
}

.left-arrow 
{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0px;
	border-color: transparent rgb(221, 121, 111) transparent;
	position: absolute;
	left: -9px;
	top: 10px;
}

.align-middle
{
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#background-container
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(30, 30, 30, 0.6);
	z-index: 5;

	display: none;
}
#background-container #close-background
{
	position: absolute;
	top: 15px;
	right: 20px;
	background-image: url('../img/cross.png');
	background-size: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	border: 1px solid rgba(37, 199, 125, 1);
	border-radius: 100px;
	box-sizing: border-box;
	cursor: pointer;
}
/*#background-container #close-background p::after
{
	content: "×";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 35px;
	line-height: 35px;
	text-align: center;
}*/

.popup-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;

	display: none;
}
.popup-box p
{
	color: rgba(30, 30, 30, 1);
}
.popup-box .button
{
	width: 100%;
}

.button
{
	min-width: 150px;
	height: 45px;
	border-radius: 15px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgba(37, 199, 125, 1);
	line-height: 44px;
	box-sizing: border-box;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 1;
}
.button p
{
	color: rgba(37, 199, 125, 1);
}

form .button
{
	display: block;
	width: 100%;
}

input
{
	border: 1px solid rgba(37, 199, 125, 1);
	border-radius: 15px;
	background-color: transparent;
	padding-left: 13px;
	padding-right: 13px;
	height: 45px;
	box-sizing: border-box;
	font-family: 'OpenSans-Light';
	font-size: 18px;
	font-weight: normal;
	color: rgba(30, 30, 30, 1);
	min-width: 250px;
}