/*body
{
	background: url('../img/background_3.png');
	background-size: cover;
}*/

footer
{
	display: none;
}

#flux-container
{
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	position: relative;

	display: none;
}

#tutorial-container
{
	display: inline-block;
	vertical-align: middle;
}
#tutorial-container h5
{
	margin-bottom: 5px;
}
#tutorial-container #user-network
{
	width: 260px;
}
#tutorial-container #user-tags-information
{
	width: 270px;
}
#tutorial-container #user-tags-information #tag-input
{
	width: 220px;
}
#tutorial-container #user-tags-information #tags-counter
{
	color: rgb(221, 121, 111);
}


.area
{
	box-sizing: border-box;
	border-radius: 50%;
	margin: auto;
	display: inline-block;
	vertical-align: middle;

	position: relative;
}
.area .account
{
	height: 100%;
	z-index: 3;
}
.area .account .avatar
{
	display: inline-block;
	vertical-align: middle;
}

.area#type_1
{
	width: 500px;
	height: 500px;
}

.area#type_1 #profil-container
{
	display: inline-block;
	vertical-align: middle;
}

.area#type_1 #user-tags-container
{
	width: 75%;
	margin: auto;
	margin-top: 20px;
}


.mini-avatar
{
	position: absolute;
	
	top: -50%;
	bottom: -50%;
	right: -50%;
	left: -50%;

	width: 70px;
	height: 70px;
	overflow: hidden;
	background-color: rgba(37, 199, 125, 1);
	border: 3px solid rgba(37, 199, 125, 1);
	border-radius: 50%;
	margin: auto;
	z-index: -1;
}
.mini-avatar img
{
	width: 70px;
	height: 70px;
}
.mini-avatar .avatar
{
	width: 70px;
	height: 70px;
	background-size: cover;
	margin: auto;
}
.mini-avatar .user-description
{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	z-index: 2;

	display: none;
}
.mini-avatar .user-description p
{
	color: rgb(30, 30, 30);
}
.mini-avatar .link-hover
{
	position: absolute;
	background: url('../img/plus.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	cursor: pointer;

	display: none;
	z-index: 3;
}