#index-container
{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	width: 440px;
}

#accounts-container
{
	width: 100%;
	overflow: hidden;
}

.account
{
	height: 136px;
	margin-bottom: -136px;
}

#text-container
{
	text-align: center;
	margin-bottom: 30px;
	background-color: rgba(245, 245, 245, 1);
}

#options-container
{
	text-align: center;
}

#options-container #link-container
{
	margin-top: 10px;
}