#index-container
{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	width: 440px;
}

#accounts-container
{
	width: 100%;
}

.account
{
	height: 136px;
	margin-bottom: -136px;
	position: relative;
}

#egg_jump
{
	position: absolute;
	top: 90%;
	right: 50%;
	margin-right: -80px;
	background-color: rgba(245, 245, 245, 1);
	border: 1px solid rgba(37, 199, 125, 1);
	border-radius: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-rigth: 5px;
	overflow: hidden;

	display: none;
}
#egg_jump p
{
	color: rgba(37, 199, 125, 1);
	font-size: 0.8em;
}

#text-container
{
	text-align: center;
	margin-bottom: 30px;
	background-color: rgba(245, 245, 245, 1);
}

#options-container
{
	text-align: center;
}

#options-container #link-container
{
	margin-top: 10px;
}