#register-container
{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	width: 500px;

	text-align: center;
}

#register-form
{
	width: 270px;
	margin: auto;
	background-color: rgba(245, 245, 245, 1);
}
#register-form ul
{
	margin-top: 5px;
	margin-bottom: 5px;
}
#register-form ul li
{
	display: block;
}
#register-form input
{
	width: 100%;
}
#register-form #submit-container
{
	margin-top: 15px;
}